# 基于pandas的男女电影评分差异分析
<a href='d'>http://files.grouplens.org/datasets/movielens/ml-100k.zip</a>

In [1]:
import pandas as pd
import numpy as np

In [2]:
u_names = ['user id', 'age', 'gender', 'occupation', 'zip code']
r_names = ['user id', 'item id', 'rating', 'timestamp']

In [3]:
users = pd.read_csv('ml-100k/u.user', sep='|', names=u_names)

In [4]:
ratings = pd.read_csv('ml-100k/u.data', sep='\t', names=r_names)

In [8]:
users_df = users.loc[:, ['user id', 'gender']]
ratings_df = ratings.loc[:, ['user id', 'rating']]

In [13]:
rating_df = pd.merge(users_df, ratings_df)

In [14]:
rating_df.head()

   user id gender  rating
0        1      M       4
1        1      M       3
2        1      M       4
3        1      M       4
4        1      M       4

In [15]:
rating_df.describe()

            user id         rating
count  100000.00000  100000.000000
mean      462.48475       3.529860
std       266.61442       1.125674
min         1.00000       1.000000
25%       254.00000       3.000000
50%       447.00000       4.000000
75%       682.00000       4.000000
max       943.00000       5.000000

In [18]:
df1 = rating_df.groupby(['user id', 'gender']).apply(np.mean)

C:\ProgramData\Anaconda3\lib\site-packages\numpy\core\fromnumeric.py:3417: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  return mean(axis=axis, dtype=dtype, out=out, **kwargs)

In [21]:
df1.head()

                user id    rating
user id gender
1       M           1.0  3.610294
2       F           2.0  3.709677
3       M           3.0  2.796296
4       M           4.0  4.333333
5       F           5.0  2.874286

In [19]:
df1.groupby('gender').rating.std()

gender
F    0.481241
M    0.430076
Name: rating, dtype: float64

In [28]:
# 透视表
t = pd.pivot_table(rating_df, index=['user id', 'gender'], values='rating')

In [29]:
female = t.query("gender == ['F']")

In [30]:
male = t.query("gender == ['M']")

In [31]:
pd.Series.std(female)

rating    0.481241
dtype: float64

In [32]:
pd.Series.std(male)

rating    0.430076
dtype: float64